---
layout: default
---

<link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>

<header class="pa3-ns">
    <h1 class="f2 f1-ns lh-title mt0 mb0 tc">Serien &amp; Filme</h1>
</header>

{% for article in site.data.series_and_movies.articles %}
<article class="cf ph3 ph5-ns pv5">
    <header class="fn fl-ns w-20 pa2">
      <h1 class="mb3 mt0 lh-title">{{ article.year }}</h1>
    </header>
    
    {% for item in article.items %}
    <div class="dt-row">
        <div class="fl w-50 pa2">
            <h3>{{ item.title }}</h3>
            <p class="lh-copy">
                <i>Genre:</i> {{ item.genre }} <br>
                <i>Rating:</i> {{ item.rating }} <br>
                <i>Description:</i> {{ item.description }}
            </p>
            {% for link in item.links %}
            <a href="{{ link.href }}" class="f6 link dim br1 ph3 pv2 mb2 dib" target="_blank" style="color:{{ link.color }}">{{ link.text }}</a>
            {% endfor %}
            <hr class="mw5 bb b--black-10">
        </div>
    </div>
    {% endfor %}
</article>
{% endfor %}
